<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Admin Dashboard</title>
</head>

<body>
  <!-- top navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
      </button>
      <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#">Lotlite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
        aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavBar">
        <form class="d-flex ms-auto my-3 my-lg-0">
          <div class="input-group">
          
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {% comment %} <li><a class="dropdown-item" href="">Login</a></li> {% endcomment %}
              <li><a class="dropdown-item" href="/register/">Register</a></li>
              <li>
                <a class="dropdown-item" href="/logout/">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- top navigation bar -->
  <!-- offcanvas -->
  <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <a href="#" class="nav-link px-3 active">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <a class="nav-link px-3 sidebar-link" href="/courses_crm/">
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span> Add Courses </span>
            </a>
            <div class="collapse" id="layouts">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="courses_crm/addcourses" class="nav-link px-3">
                    <span class="me-2"><i class="bi bi-graph-up"></i></span>
                    <span> Add Courses </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {% comment %} <li>
            <a href="./Viewproject.html" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-book-fill"></i></span>
              <span> View  Courses</span>
            </a>
          </li> {% endcomment %}
          <li>
            <a href="/career_crm/" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-graph-up"></i></span>
              <span> Add Career </span>
            </a>
          </li>
          <li>
            <a href="/add_services/" class="nav-link px-3"> 
               <span class="me-2"><i class="bi bi-graph-up"></i></span>
               <span> Add Student Mobility  </span>
            </a>

          </li>
           <li>
            <a href="/course_contact_crm/" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-table"></i></span>
              <span> Course Contact </span>
            </a>
          </li>
          <li>
            <a href="/contact_crm/" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-table"></i></span>
              <span> View Contact Us </span>
            </a>
          </li>
          <li>
            <a href="/apply_now_crm/" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-table"></i></span>
              <span> Candidates Data </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <script src="/static/crm/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <script src="/static/crm/js/jquery-3.5.1.js"></script>
  <script src="/static/crm/js/jquery.dataTables.min.js"></script>
  <script src="/static/crm/js/dataTables.bootstrap5.min.js"></script>
  <script src="/static/crm/js/script.js"></script>
</body>

</html>

