<!-- footer area start -->

<link rel="stylesheet" href="/static/css/style.css" />
<footer class="main-footer bgc-gray footer-white rel z-1 mt-80">
  <div class="footer-cta-wrap">
    <div class="container">
      <div
        class="footer-cta-inner bgs-cover"
        style="background-image: url(/static/images/footer/footer-cta-bg.jpg)"
      >
        <div class="section-title wow fadeInLeft delay-0-2s">
          <span class="sub-title">Need Any Consultations ?</span>
          <h2>
            Accelerate Your Career with Targeted Career Advancement Solutions
          </h2>
        </div>
        <a
          href="/contact/#contact-form"
          class="theme-btn style-three wow fadeInRight delay-0-2s"
          >Get Free Quote <i class="fas fa-long-arrow-right"></i
        ></a>
        <div class="hotline wow fadeInRight delay-0-2s">
          <i class="fas fa-phone"></i>
          <div class="content">
            <span>Helpline</span><br />
            <a href="callto:+91 8805843309">+91 8805843309</a>
            <br>
            <a href="callto:+91 9766499364">+91 9766499364</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row medium-gap">
      <div class="col-xl-3 col-sm-6">
        <div class="footer-widget widget_about wow fadeInUp delay-0-2s">
          <div class="footer-logo mb-30">
            <a href="/home"
              ><img
                src="/static/images/logos/logo.png"
                alt="Logo"
                width="200"
                height="70"
            /></a>
          </div>
          <p>
            At Lotlite Technology, we specialize in developing custom software
            solutions that are designed to meet the unique needs of your
            business.
          </p>
          <a href="/about" class="read-more"
            >Learn More About Us <i class="fas fa-long-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 order-xl-2">
        <div class="footer-widget widget_newsletter wow fadeInUp delay-0-6s">
          {% comment %}
          <h4 class="footer-title">Newsletter</h4>
          <p>Sed perspiciatis unde omnste natus error voluptatem accusante.</p>
          {% endcomment %} {% comment %}
          <form action="#">
            <label for="email"><i class="far fa-envelope"></i></label>
            <input
              id="email"
              type="email"
              placeholder=" Enter Your Mail"
              required
            />
            <button>Sign Up</button>
          </form>
          {% endcomment %}
          <h5>Follow Us</h5>
          <div class="social-style-two">
            <a
              href="https://www.facebook.com/people/Lotlite-Technologies/61559071712419/"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://x.com/lotlite_tech"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              href="https://www.instagram.com/lotlite_technologies/?igsh=cDdweTI4M3N2ZjI2"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://linkedin.com/company/lotlite-technologies/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
          
          <div>
            <br>
            <a href="callto:+91 8805843309">+91 8805843309</a>
            <br>
            <a href="callto:+91 9766499364">+91 9766499364</a>

            <a href="mailto:contact@lotlitetechnology.com">contact@lotlitetechnology.com</a>

            <p>
              Lotlite Technology Pvt Ltd. Office - 122, Gera
              Imperium, Opp- Wipro, Hinjewadi Phase 2, Rajiv Gandhi Infotech
              Park, Pune, Maharashtra 411057
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-4 col-6 col-small">
            <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-3s">
              <h4 class="footer-title">Quick Links</h4>
              <ul class="list-style-two">
                {% comment %}
                <li><a href="/about">Company History</a></li>
                {% endcomment %}
                <li><a href="/about">About Company</a></li>
                {% comment %}
                <li><a href="/services">Latest Services</a></li>
                {% endcomment %} {% comment %}
                <li><a href="project-grid.html">Popular Works</a></li>
                {% endcomment %} {% comment %}
                <li><a href="faqs.html">Asked Questions</a></li>
                {% endcomment %}
                <li><a href="#">Blog & News</a></li>
                <li><a href="/contact/#contact-form">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-6 col-small">
            <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
              <h4 class="footer-title">Services</h4>
              <ul class="list-style-two">
                <li><a href="/contact/#contact-form">Product Design</a></li>
                <li><a href="/contact/#contact-form">Design & Development</a></li>
                <li><a href="/contact/#contact-form">UX/UI Strategy</a></li>
                <li><a href="/contact/#contact-form">Search Engine</a></li>
                <li><a href="/contact/#contact-form">IT Consulting</a></li>
                <li><a href="/contact/#contact-form">Software Development</a></li>
                <li><a href="/contact/#contact-form">Business Analysis</a></li>
              </ul>
            </div>
          </div>
          {% comment %}
          <div class="col-md-4 col-6 col-small">
            <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-5s">
              <h4 class="footer-title">Support</h4>
              <ul class="list-style-two">
                <li><a href="/contact">Start Here</a></li>
                <li><a href="/about">Style guide</a></li>
                <li><a href="404.html">404 Not Found</a></li>
                <li><a href="/contact">Password Protected</a></li>
                <li><a href="/contact">Licenses</a></li>
                <li><a href="/contact">Changelog</a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
  <div class="footer-bottom bgc-black mt-20 pt-20">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="footer-bottom-menu mb-10 wow fadeInRight delay-0-2s">
            {% comment %}
            <ul>
              <li><a href="#">Version 1.2</a></li>
              <li><a href="#">Image Licenses</a></li>
              <li><a href="#">Instructions</a></li>
            </ul>
            {% endcomment %}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="copyright-text text-lg-end wow fadeInLeft delay-0-2s">
            <p>© 2024 Lotlite Technology. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-shapes">
    <img
      class="shape one"
      src="/static/images/footer/footer-bg-weve-shape.png"
      alt="Shape"
    />
    <img
      class="shape two"
      src="/static/images/footer/footer-bg-line-shape.png"
      alt="Shape"
    />
    <img
      class="shape three wow fadeInRight delay-0-8s"
      src="/static/images/footer/footer-right.png"
      alt="Shape"
    />
  </div>
</footer>
<!-- footer area end -->