<!-- Main Header -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/navbarChangeCss.css' %}">

<header class="main-header header-two">

    <!-- Header Top -->
    {% comment %} <div class="header-top-wrap bgc-secondary">
        <div class="container-fluid">
            <div class="header-top">
                <div class="text">
                    <span class="hello">Hello</span> We’re a professional IT solutions company. Let’s work together 
                    <a href="/contact#contact-form">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Upper -->
    <div class="header-upper bg-white">
        <div class="container-fluid clearfix">

            <div class="header-inner rel d-flex align-items-center">
                <!-- Logo -->
                <div class="logo-outer">
                    <div class="logo">
                        <a href="/home">
                            <img src="{% static 'images/logos/new_logo.png' %}" alt="Logo" title="Logo" width="200" height="70">
                        </a>
                    </div>
                </div>

                <!-- Navigation -->
                <div class="nav-outer mx-auto clearfix">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header py-10">
                            <!-- Mobile Logo -->
                            <div class="mobile-logo">
                                <a href="/home">
                                    <img src="{% static 'images/logos/new_logo.png' %}" alt="Logo" title="Logo" width="200" height="50">
                                </a>
                            </div>

                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Navbar Collapse -->
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/courses">Courses</a></li>
                                <li class="dropdown"><a href="#">services</a>
                                            <ul>
                                                <li><a href="/services">Our Services</a></li>
                                                <li><a href="/studentMobility">Student Mobility Page</a>
                                            </ul>
                                </li>
                                <li><a href="/career">Career</a></li>
                                
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact#contact-form">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!-- Menu Buttons -->
                <div class="menu-btns">
                    <a href="/contact#contact-form" class="theme-btn">Get a Quote <i class="fas fa-long-arrow-right"></i></a>
                </div>

                <!-- Social Links -->
                <div class="social-style-two">
                    <a href="https://www.facebook.com/people/Lotlite-Technologies/61559071712419/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/lotlite_tech"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/lotlite_technologies/?igsh=cDdweTI4M3N2ZjI2"><i class="fab fa-instagram"></i></a>
                    <a href="https://linkedin.com/company/lotlite-technologies/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</header>
<section>
    <header class="main-header header-one menu-white">

           <div class="header-top-wrap bgc-gray">
               <div class="container">
                   <div class="header-top">
                       <ul>
                            <li><i class="far fa-envelope"></i> <a href="mailto:support@gmail.com">alok@lotlitetechnology.com</a></li>
                            <li class="for-none"><i class="far fa-clock"></i> Working Hours : Monday- Friday, 10 am to 5pm</li>
                            <li>
                                <div class="social-style-one">
                                    <a href="https://www.facebook.com/people/Lotlite-Technologies/61559071712419/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://x.com/lotlite_tech"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/lotlite_technologies/?igsh=cDdweTI4M3N2ZjI2"><i class="fab fa-instagram"></i></a>
                                    <a href="https://linkedin.com/company/lotlite-technologies/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </li>
                        </ul>
                   </div>
               </div>
           </div>
           
            <!--Header-Upper-->
            <div class="header-upper bgc-black">
                <div class="container clearfix">

                    <div class="header-inner rel d-flex align-items-center">
                        <div class="logo-outer">
                            <div class="logo"><a href="/home"><img height="100" width="100" src="{% static 'images/logos/new_logo.png' %}" alt="Logo" title="Logo"></a></div>
                        </div>

                        <div class="nav-outer mx-auto clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                   <div class="mobile-logo">
                                       <a href="index.html">
                                            <img src="{% static 'images/logos/new_logo.png' %}" alt="Logo" title="Logo">
                                       </a>
                                   </div>
                                   
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li ><a href="/home">Home</a>
                                           
                                        </li>
                                        <li ><a href="/courses">Courses</a></li>
                                        <li class="dropdown"><a href="#">Services</a>
                                            <ul>
                                                <li><a href="/services">Our Services</a></li>
                                                <li><a href="/studentMobility">Student Mobility Page</a>
                                            </ul>
                                        </li>
                                        <li><a href="/career">Career</a></li>
                                        <li ><a href="/about">About Us</a></li>
                                        <li><a href="/contact#contact-form">Contact Us</a></li>
                                    </ul>
                                </div>

                            </nav>
                            <!-- Main Menu End-->
                        </div>
                        
                        <!-- Nav Search -->
                        <div class="nav-search py-10">
                            <button class="far fa-search"></button>
                            <form action="#" class="hide">
                                <input type="text" placeholder="Search" class="searchbox" required="">
                                <button type="submit" class="searchbutton far fa-search"></button>
                            </form>
                        </div>
                        
                        <!-- Menu Button -->
                        <div class="menu-btns">
                           <a href="contact.html" class="theme-btn">Get a Quote <i class="fas fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
        </header>
       
</section>