<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/crm/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/static/crm/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/static/crm/css/style.css" />
    <title>Admin Dashboard</title>
    <style>
        .table-responsive {
            overflow-x: auto;
        }

        .action-buttons {
            white-space: nowrap;
        }

        .table td,
        .table th {
            vertical-align: middle;
            text-align: center;
        }

        .table th {
            white-space: nowrap;
        }
    </style>
</head>

<body>
    {% include "navbar_crm.html" %}  
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h4>Candidates List</h4>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <span><i class="bi bi-table me-2"></i></span> Data Table
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="table data-table table-bordered table-hover" style="width: 100%">
                                        <thead class="bg-dark text-white">
                                            <tr>
                                                <th>sr</th>
                                                <th>resume</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>mobile_phone</th>
                                                <th>Email</th>
                                                <th>Experience_years</th>
                                                <th>Experience_months</th>
                                                <th>current_salary</th>
                                                <th>Expected_salary</th>
                                                <th>available_to_join</th>
                                                <th>privacy_policy</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in candidates %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="{{ c.resume.url }}" target="_blank" download>Download Resume</a></td>
                                                <td>{{c.first_name}}</td>
                                                <td>{{c.last_name}}</td>
                                                <td>{{c.email}}</td>
                                                <td>{{c.mobile_phone}}</td>
                                                <td>{{c.experience_years}}</td>
                                                <td>{{c.experience_months}}</td>
                                                <td>{{c.current_salary}}</td>
                                                <td>{{c.expected_salary}}</td>
                                                <td>{{c.available_to_join}}</td>
                                                <td>{{c.privacy_policy}}</td>
                                                
                                                <td class="action-buttons">
                                                    <form method="POST" action="{% url 'delete_Candidate' c.id %}" style="display:inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot class="bg-dark text-white">
                                            <tr>
                                                <th>sr</th>
                                                <th>resume</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>mobile_phone</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th>Experience_years</th>
                                                <th>Experience_months</th>
                                                <th>current_salary</th>
                                                <th>Expected_salary</th>
                                                <th>available_to_join</th>
                                                <th>privacy_policy</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>
    <script>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</body>

</html>